<div class="copyright">
	Copyright &copy; {{ year }} <a href="http://www.umbraengineering.com">Umbra Engineering LLC</a>
</div>
<div class="using">
	Developed using <a href="https://github.com/UmbraEngineering/cloak">cloak.js</a> and <a href="https://github.com/UmbraEngineering/dagger">dagger.js</a>
</div>
<div class="license">
	This demo app is Public Domain (<a href="https://github.com/UmbraEngineering/todo-demo">source code</a>)
</div>
<div class="license">
	The contained libraries are licensed under their own designated licenses
</div>