<div class="panel">
	<h2>Login</h2>
	<div>
		<ul class="errors"></ul>
		<form>
			<label>Username:<br />
				<input type="text" class="username" />
			</label>
			
			<label>Password:<br />
				<input type="password" class="password" />
			</label>
			
			<button class="submit small">Login</button>
		</form>
		<p class="small">Don't have an account? <a href="/welcome" rel="internal">Create an Account</a></p>
	</div>
</div>