<div class="panel">
	<h2>Welcome! :D</h2>
	<div>
		<p>To create an account, just fill in a username and password:</p>
		<form>
			<label class="username">Username: <span class="validation"></span><br />
				<input type="text" class="username" placeholder="Your login (1-16 characters)" />
			</label>
			
			<label class="password">Password: <span class="validation"></span><br />
				<input type="password" class="password" placeholder="Your password (8-32 characters)" />
			</label>
			
			<label class="password-confirm">Confirm Password: <span class="validation"></span><br />
				<input type="password" class="password-confirm" placeholder="Your password again" />
			</label>

			<button class="submit small">Create Account</button>
			<span class="loading"></span>
		</form>
		<p class="small">Already have an account? <a href="/login" rel="internal">Login</a></p>
	</div>
</div>